.club-list__item {
    border: 5px solid white;
    background-color: white;
    width: 500px;
    padding: 25px;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color:teal;
    font-size: large;
}